::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #111111;
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(151, 151, 151);
}

#desktopOnly {
    display: none;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1.2vw;
    padding-right: 0vw;
    padding-left: 0vw;
}

header a h1 {
    padding: 0;
    margin: 0;
}

header nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: larger;
}

header nav a {
    height: max-content;
}

.selected {
    border-bottom: 2px solid white;
}

.newRelease {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content min-content min-content;
    min-height: 70vh;
    margin: 5vw;
    margin-top: 10vh;
    gap: 4vw;
}

.newRelease h2 {
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;

    grid-column: 1 / span 2;
}

.newRelease a {
    background-color: white;
    color: #111111;
    width: max-content;
    height: max-content;
    font-weight: bold;
    padding: 3%;
    border-radius: 2vw;

    justify-self: center;
    grid-column: 1 / span 2;
    grid-row: 3;
}

.newRelease img {
    width: 40vw;
    height: 40vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-align: center;
    align-self: center;
}

footer {
    background-color: #252525;
    height: 70vh;
    font-size: smaller;
    color: rgb(223, 223, 223);
    padding-left: 4vw;
    padding-top: 4vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 3vh;
}

footer a {
    width: max-content;
}

footer #socials {
    display: flex;
    flex-flow: row nowrap;
    gap: 1vw;
}

footer #socials a img {
    filter: invert(1);
    height: 5vh;
}

footer #socials a img:hover {
    filter: invert(1) brightness(.8);
}

#episodes ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 4vh;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#episodes ul li {
    background-color: #212121;
    display: flex;
    flex-flow: column-reverse nowrap;
    padding: 2%;
    margin: 2%;
    margin-bottom: 2vh;
    width: 90vw;
    border-radius: 2rem;
    justify-content: space-between;
    align-items: center;
}

#episodes ul li #textWrapper {
    display: flex;
    flex-flow: column nowrap;
}

#episodes ul li p:first-of-type:not(#customPlayer p) {
    margin: 0;
    font-size: larger;
    text-align: center;
}

#episodes ul li #textWrapper audio {
    align-self: center;
    margin: 3%;
    padding-top: 4vh;
}

#episodes ul li img {
    width: 40vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 1%;
    margin: 1 vh;
    text-align: center;
}

#customPlayer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    font-size: large;
    background-color: white;
    color: #111111;
    text-align: center;

    padding: 2%;
    margin: 1%;
    margin-top: 3vh;
    margin-bottom: 2vh;

    border-radius: 3vw;

    height: 3rem;
}

#customPlayer p {
    margin: 0;
    user-select: none;
}

#customPlayer p:nth-of-type(2) {
    flex: 3;
    font-size: 2rem;
    cursor: pointer;
}

#customPlayer .paused {
    transform: rotate(90deg);
    font-weight: 900;
    scale: 1.4;
}

#customPlayer p:nth-of-type(1) {
    flex: 2;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    z-index: 99;
}

#customPlayer p:nth-of-type(3) {
    flex: 2;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    z-index: 99;
}

#customPlayer div {
    flex: 10;
    text-align: start;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: .7vw;
    height: .9rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#customPlayer div input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: #cacaca;
    height: .7rem;
    border-radius: .7vw;
}

#customPlayer div input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: .9rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background: #111111;
    border-radius: 50%;
    border: 0;
}

/* #customPlayer .sliderArea {
    position: relative;
    width: 50%;
    background-color: #545454;
    border-radius: .7vw;
    height: .8rem;
    margin: 0.1vh;
    padding: 0;
} */

#customPlayer div span:first-of-type {
    flex: .2;
    background-color: black;
    height: .95rem;
    border-radius: .7vw;
}

#customPlayer div span:last-of-type {
    flex: .8;
}

#customPlayer p:nth-of-type(4) {
    flex: 1;
}

#about {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-bottom: 20vh;
    gap: 4vw;
}

#about #textWrapper {
    display: flex;
    flex-flow: column wrap;
    max-width: 90vw;
}

#about #textWrapper h2 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

#about #textWrapper a {
    background-color: white;
    color: #111111;
    width: max-content;
    font-weight: bold;
    padding: 1.8%;
    border-radius: .7vw;
}

#about img {
    width: 30vw;
    min-width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-top: 5vh;
}